<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1">
<title>vuejsview</title>
<link href=/static/css/app.ea0f1691673f2ba68723f72b15287b3c.css rel=stylesheet>
</head>
<body>
<div id=app>
</div>
<script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
<script type=text/javascript src=/static/js/vendor.7fed9fa7b7ba482410b7.js></script>
<script type=text/javascript src=/static/js/app.6c2f716a83190d9a8d8f.js></script>
<table>
<tr>
<td th:text="${name}"></td>
</tr>
</table>
</body>
</html>